@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
  @apply w-[90%] mx-auto max-w-[1400px];
}

:root {
  background: #fafafa;
}

.circular-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  border: 1px solid #000; /* Border color for checked state */
  outline: none;
  cursor: pointer;
}

.circular-checkbox:checked {
  appearance: none;
  -webkit-appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  border: 1px solid #000; /* Border color for checked state */
  background-color: #000; /* Background color for checked state */
  outline: none;
  cursor: pointer;
}
